<div class="box-aboutMe" id="sobreMi">
    <h3><span>1.</span> Sobre Mi</h3>
    <div class="box-text">
       <h4>
        <span> Tengo 19 años y soy desarrollador .NET</span>
        ¿Como llegue a ser desarollador? Pues estuve investigando sobre este mundo en la programacion, para ver toda la ruta necesaria para convertirme en un desarrollador poco a poco.
        No me tomo mucho tiempo para elegir las <span>tecnologias de Microsoft como lo es C# y .NET </span> por lo tanto comence a <span>estudiar de forma autodidacta junto con la documentacion de Microsoft.</span>
        Actualmente llevo 2 años estudiando de forma autodidacta, estudie tambien <span>sobre el frontend en CoderHouse</span>, pero actualmente me dedico al Backend con .Net, tambien sigo estudiando las nuevas tecnologias y poniendome aprueba dia a dia sobre este mundo de la programacion con muchos proyectos en mente para practicar.
       </h4>
    </div>
</div>