<div class="content-profile">
    <div class="box-profile">
        <div class="box-desc">
            <div class="box-name">
                <h1>Esteban Nahuel Escobar</h1>
                <div class="box-puesto">
                    <h2>Desarrollador <span>.NET</span></h2>
                </div>
            </div>
            <div class="box-text">
                <h2>¡Hola! Soy Nahuel, un apasionado desarrollador .NET con un enfoque claro en la creación de soluciones innovadoras y eficientes. Mi objetivo es impulsar el éxito de las empresas a través de la tecnología, aprovechando al máximo la versatilidad y el poder del ecosistema .NET.</h2>
            </div>
        </div>
        <div class="box-photo">
            <a href="https://www.linkedin.com/in/nahue19/" target="_blank"><img src="../../../assets/img/1693934390532.jpeg" alt="perfil"></a>
        </div>
    </div>
</div>