<div class="box-proyects" id="proyectos">
    <h3><span>3.</span> Proyectos</h3>
    <div class="card-container">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Sistema de ventas</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sistema de ventas">
            <mat-card-content>
              <p>
                Sistema de ventas con 3 usuarios que tienen un rol cada uno, los cuales son: Administrador, Gerente, Empleado. Cada uno tendra diferentes permisos, se podra realizar una venta y se devolvera un ticket, la cual queda guardada en la base de datos y se puede acceder a este desde un historial de ventas.
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Web Api Libros</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Crud de libros">
            <mat-card-content>
              <p>
               Una Web de libros, es un crud donde se podran realizar todos los metodos http. Crear nuevos libros, Editarlos, Borrarlos y poder acceder a la información del libro. En Swagger se devuelven los status code correspondiente. 
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Sistema de historial clinico</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Proyecto clinico">
            <mat-card-content>
              <p>
                Sistema Clinico donde se vera el historial clinico de un paciente, doctores, se veran las citas pendientes, se podra acceder al mantenimiento del paciente. Se otorgan permisos según el usuario, el cual dependiendo el usuario podra generar una nueva cita, ver datos del paciente y modificarlos.
              </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
